a {
 color: #E0F084 !important;
}

.information {
  background: rgba(150, 80, 150, 0.8) 0 0 repeat;
  width: 460px;
  margin: 20px;
}

body {
  background-image: url('../images/emi-1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

h1 {
  font-family: 'Londrina Solid', cursive;
  font-size: 46px;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  margin-top: 0;
}

h1, p {
  color: #E0F084;
  display: inline-block;
  margin-left: 30px;
}
